@import url(../vendor/fonts.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 10);
}

body {
	background-image: url(../img/bg.jpg);
	background-size: 50px;
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
}

.content, .hero, .main-header, .gallery__left, .gallery__right {
	will-change: transform;
}

.hero {
	width: calc(var(--index) * 36);
	position: absolute;
	left: 37vw;
	top: 7vh;
	z-index: -1;
}

.main-header {
	height: 100vh;
}

.container {
	padding: 0 7vh;
}

.main-title {
	position: absolute;
	font-size: calc(var(--index) * 8);
	width: min-content;
	top: 50vh;
	line-height: .9;
}

.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
}

.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 10px;
}

.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}

.gallery__right {
	margin: 0;
	margin-top: var(--gallery-gap);
}

.text-block {
	color: var(--color-text);
	position: relative;
}

.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}

.text-block__p {
	line-height: 1.75;
}

@media screen and (max-width: 768px) {

	.hero {
		top: 10vh;
		left: 10vw;
		width: 95vw;
	}

	.main-title {
		top: 80vh;
		font-size: 17vw;
	}

	.gallery {
		display: block;
	}
}